.form-field {
  display: flex;
  flex-direction: column;

  // .form-field__input-title
  &__input-title {
    line-height: 150%;
    color: var(--color-grey);
    margin-bottom: 10px;
  }

  // .form-field__input
  &__input {
    min-width: 260px;
    min-height: 44px;
    border: 1px solid #d7dadd;
    border-radius: 4px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 150%;

    // .form-field__input:placeholder
    &::placeholder {
      color: #9a9ca5;
    }
  }

  // .form-field--big
  &--big {
    flex-grow: 1;

    .form-field__input {
      width: 100%;
    }
  }
  // .form-field__btn
  &__btn {
    align-self: flex-end;
    line-height: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
}
