.header {
  // .header__container
  padding: 23px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--main {
    padding: 19px 0;
    background-color: var(--color-light);
  }

  &__nav {
    margin-left: -112px;
  }
}
.container {
}
.logo {
}
.logo-img {
}
