.header {
  // .header__container
  padding: 23px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--main {
    padding: 19px 0;
    background-color: var(--color-light);
  }

  &__nav {
    // margin-left: -112px;  (As I think  ---  best when "nav" - is on Center Position of the top header)
  }
}
.container {
}
.logo {
  padding: 0 5px 3px 0;
  border-right: 3px solid var(--color-primary);
  border-bottom: 3px solid var(--color-primary);
}
.logo-img {
}
