.hero {
  background-color: var(--color-gray);
  background-image: url("../../img/backGround-mainPage222.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
