.services-section {
  position: relative;
  padding-top: 212px;
  padding-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &::before {
    content: "";
    background-image: url("../../img/services-section/services-section-BG22.jpg");
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }
}
.services-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.services-item {
  position: relative;
  display: block;
  padding: 90px 10px;
  border: 1px solid #0c5be4db;
  border-radius: 14px;
  box-shadow: 0px 80px 80px -20px rgba(26, 50, 156, 0.991),
    0px 30px 24px -10px rgb(1, 47, 255),
    0px 12px 10px -16px rgba(7, 23, 92, 0.918),
    0px 4px 4px -4px rgba(16, 52, 180, 0.671);

  // border: 1px solid #e5e8ed;
  //   // box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
  //   //   0px 30px 24px -10px rgba(154, 156, 165, 0.05),
  //   //   0px 12px 10px -6px rgba(154, 156, 165, 0.04),
  //   //   0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  // }
  background: var(--color-white);

  // .services-item__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  // .services-item__icon
  &__icon {
    width: 52px;
    height: 52px;
    object-fit: cover;
    margin-bottom: 24px;
  }

  // .services-item__title
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-dark);
  }
}
