.services-section {
  position: relative;
  padding-top: 212px;
  padding-bottom: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &::before {
    content: "";
    background-image: url("../../img/services-section/services-section-BG22.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 100vh;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }

  // .services-section__text
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .services-section__list
  &__list {
    margin-bottom: 80px;
  }

  // .services-section__learn
  &__learn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  &__subtitle {
    color: var(--color-dark);
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
  }
}
.services-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.services-item {
  position: relative;
  display: block;
  padding: 90px 10px;
  border: 1px solid #0c5be4db;
  border-radius: 14px;
  box-shadow: 0px 80px 80px -40px rgba(255, 90, 48, 0.991),
    0px 30px 24px -10px rgba(255, 90, 48),
    0px 12px 10px -6px rgba(255, 90, 48, 0.918),
    0px 4px 4px 4px rgba(255, 90, 48, 0.671);

  // border: 1px solid #e5e8ed;
  //   // box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
  //   //   0px 30px 24px -10px rgba(154, 156, 165, 0.05),
  //   //   0px 12px 10px -6px rgba(154, 156, 165, 0.04),
  //   //   0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  // }
  background: var(--color-white), opacity (0.4);

  // .services-item--construct
  &--construct {
    &::before {
      background-image: url("../../img/services-section/interior.jpg");
    }
  }

  // .services-item--development
  &--development {
    &::before {
      background-image: url("../../img/services-section/interior.jpg");
    }
  }

  // .services-item--design
  &--design {
    &::before {
      background-image: url("../../img/services-section/interior.jpg");
    }
  }

  // .services-item--repairs
  &--repairs {
    &::before {
      background-image: url("../../img/services-section/interior.jpg");
    }
  }

  // .services-item::before
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: inherit;
    background-color: var(--color-storm);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 3;
  }

  // .services-item::after
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: inherit;
    background-color: rgba(#1e212c, 0.6);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 5;
  }

  // .services-item__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  // .services-item__icon
  &__icon {
    width: 52px;
    height: 52px;
    fill: var(--color-orange);
    object-fit: cover;
    margin-bottom: 24px;
    transition: fill 0.3s ease-in-out;
  }

  // .services-item__title
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-dark);
    transition: color 0.3s ease-in-out;
  }
  // .services-item:hover

  &:hover {
    &::before {
      opacity: 1;
    }
    &::after {
      opacity: 1;
    }
    .services-item__icon {
      fill: var(--color-white);
    }

    .services-item__title {
      color: var(--color-white);
    }
  }
}
