<header class="header header--main">
  <div class="container header__container">
    <a class="logo" href="#">
      <img class="logo-img" src="../img/Createx-logo.svg" alt="Createx logo" />
    </a>
    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a class="nav__link" href="#">О нас</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Услуги</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Наши Работы</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Новости</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Контакты</a>
        </li>
      </ul>
    </nav>

    <div class="header-contacts">
      <a
        class="header-contacts__link contacts-link contacts-link--call"
        href="tel:(405)5550128"
      >
        <span class="contacts-link__text">Звоните нам</span>
        <span class="contacts-link__communicate">(095) 555-0128</span></a
      >
      <a
        class="header-contacts__link contacts-link contacts-link--mail"
        href="mailto:hello@createx.com"
      >
        <span class="contacts-link__text">Пишите нам</span>
        <span class="contacts-link__communicate">hello@createx.com</span></a
      >
    </div>
  </div>
</header>
