<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="main-title main-title--home">
        <span class="minimalize-titleText"> Строительная компания </span>

        create<span>X</span> construction
      </h1>

      <p class="main-description main-description--home">
        Продаем и&nbsp;сдаем в&nbsp;аренду башенные краны и&nbsp;другую
        строительную технику. Предоставляем услуги обслуживания спецтехники.
        Производим весь спектр общестроительных работ.
      </p>

      <div class="hero__btns">
        <button class="btn-reset btn btn--stroke btn--stroke-white">
          Узнайте о Нас Больше
        </button>
        <button class="btn-reset btn btn--fill btn--fill-main">
          Обращайтесь !
        </button>
      </div>
    </div>
  </div>
</section>
