<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="title title--home">
        <span class="title__addedText"> Строительная компания </span>

        create<span>X</span> construction
      </h1>

      <p class="description description--home">
        Продаем и&nbsp;сдаем в&nbsp;аренду башенные краны и&nbsp;другую
        строительную технику. Предоставляем услуги по&nbsp;обслуживанию
        и&nbsp;ремонту строительной спецтехники. Производим весь спектр
        общестроительных работ.
      </p>

      <div class="hero__btns">
        <button class="btn-reset btn btn--border btn--border-white">
          Узнайте о Нас Больше
        </button>
        <button class="btn-reset btn btn--fill btn--fill-main">
          Обращайтесь !
        </button>
      </div>
    </div>
  </div>
</section>
