<section class="video-section section-offset">
  <div class="container">
    <div class="title title-center">
      ВОТ! Что может наше Конструкторское бюро ... и&nbsp;это! Далеко
      не&nbsp;всё!
    </div>
    <div class="description description-center">
      Мы&nbsp;одна и&nbsp;ведущих строительно-конструкторских компаний
      в&nbsp;стране
    </div>
    <div class="video-block">
      <button>
        <svg>
          <use xlink:href="../img/svg/mainPage/video-block/play.svg"></use>
        </svg>
      </button>
      <button>
        <svg>
          <use xlink:href="../img/svg/mainPage/video-block/mutted.svg"></use>
        </svg>
      </button>
      <video src="/resources/home_-_31290 (Original).mp4"></video>
    </div>
  </div>
</section>
